Repository NVIDIA/TensorRT-Model-Optimizer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NVIDIA/modelopt-setup-codeowners, @NVIDIA/modelopt-deploy-codeowners, @NVIDIA/modelopt-onnx-codeowners, @NVIDIA/modelopt-onnx-autocast-codeowners, @NVIDIA/modelopt-torch-codeowners, @NVIDIA/modelopt-torch-deploy-codeowners, @NVIDIA/modelopt-torch-distill-codeowners, @NVIDIA/modelopt-torch-export-codeowners, @NVIDIA/modelopt-torch-nas-prune-codeowners, @NVIDIA/modelopt-torch-opt-codeowners, @NVIDIA/modelopt-torch-quantization-codeowners, @NVIDIA/modelopt-torch-sparsity-codeowners, @NVIDIA/modelopt-torch-speculative-codeowners, @NVIDIA/modelopt-torch-utils-codeowners, @NVIDIA/modelopt-docker-codeowners, @NVIDIA/modelopt-examples-codeowners, @NVIDIA/modelopt-examples-cnn_qat-codeowners, @NVIDIA/modelopt-examples-diffusers-codeowners, @NVIDIA/modelopt-examples-gpt-oss-codeowners, @NVIDIA/modelopt-examples-llm_ptq-codeowners, @NVIDIA/modelopt-examples-llm_qat-codeowners, @NVIDIA/modelopt-examples-megatron-codeowners, @NVIDIA/modelopt-examples-model_hub-codeowners, @NVIDIA/modelopt-examples-vlm-codeowners, @NVIDIA/modelopt-windows-codeowners

.github/CODEOWNERS:

# GitHub Teams defined at https://github.com/orgs/NVIDIA/teams/modelopt-devs/teams

# Configuration files
.github @NVIDIA/modelopt-setup-codeowners
.gitlab @NVIDIA/modelopt-setup-codeowners
.pre-commit-config.yaml @NVIDIA/modelopt-setup-codeowners
CONTRIBUTING.md @NVIDIA/modelopt-setup-codeowners
LICENSE @NVIDIA/modelopt-setup-codeowners
LICENSE_HEADER @NVIDIA/modelopt-setup-codeowners
pyproject.toml @NVIDIA/modelopt-setup-codeowners
SECURITY.md @NVIDIA/modelopt-setup-codeowners
setup.py @NVIDIA/modelopt-setup-codeowners
tox.ini @NVIDIA/modelopt-setup-codeowners

# Library
modelopt/deploy @NVIDIA/modelopt-deploy-codeowners
modelopt/onnx @NVIDIA/modelopt-onnx-codeowners
modelopt/onnx/autocast @NVIDIA/modelopt-onnx-autocast-codeowners
modelopt/torch @NVIDIA/modelopt-torch-codeowners
modelopt/torch/_deploy @NVIDIA/modelopt-torch-deploy-codeowners
modelopt/torch/distill @NVIDIA/modelopt-torch-distill-codeowners
modelopt/torch/export @NVIDIA/modelopt-torch-export-codeowners
modelopt/torch/nas @NVIDIA/modelopt-torch-nas-prune-codeowners
modelopt/torch/opt @NVIDIA/modelopt-torch-opt-codeowners
modelopt/torch/prune @NVIDIA/modelopt-torch-nas-prune-codeowners
modelopt/torch/quantization @NVIDIA/modelopt-torch-quantization-codeowners
modelopt/torch/sparsity @NVIDIA/modelopt-torch-sparsity-codeowners
modelopt/torch/speculative @NVIDIA/modelopt-torch-speculative-codeowners
modelopt/torch/trace @NVIDIA/modelopt-torch-nas-prune-codeowners
modelopt/torch/utils @NVIDIA/modelopt-torch-utils-codeowners

# Examples
/docker @NVIDIA/modelopt-docker-codeowners
/README.md @NVIDIA/modelopt-examples-codeowners
/examples @NVIDIA/modelopt-examples-codeowners
/examples/chained_optimizations @NVIDIA/modelopt-torch-nas-prune-codeowners
/examples/cnn_qat @NVIDIA/modelopt-examples-cnn_qat-codeowners
/examples/deepseek @NVIDIA/modelopt-deploy-codeowners
/examples/diffusers @NVIDIA/modelopt-examples-diffusers-codeowners
/examples/gpt-oss @NVIDIA/modelopt-examples-gpt-oss-codeowners
/examples/llm_autodeploy @NVIDIA/modelopt-deploy-codeowners
/examples/llm_distill @NVIDIA/modelopt-torch-distill-codeowners
/examples/llm_eval @NVIDIA/modelopt-examples-llm_ptq-codeowners
/examples/llm_ptq @NVIDIA/modelopt-examples-llm_ptq-codeowners
/examples/llm_qat @NVIDIA/modelopt-examples-llm_qat-codeowners
/examples/llm_sparsity @NVIDIA/modelopt-torch-sparsity-codeowners
/examples/megatron-lm @NVIDIA/modelopt-examples-megatron-codeowners
/examples/model_hub @NVIDIA/modelopt-examples-model_hub-codeowners
/examples/nemo_run @NVIDIA/modelopt-examples-megatron-codeowners
/examples/onnx_ptq @NVIDIA/modelopt-onnx-codeowners
/examples/pruning @NVIDIA/modelopt-torch-nas-prune-codeowners
/examples/speculative_decoding @NVIDIA/modelopt-torch-speculative-codeowners
/examples/vlm_ptq @NVIDIA/modelopt-examples-vlm-codeowners
/examples/windows @NVIDIA/modelopt-windows-codeowners

Reinstate int8_sq support for vlm_example. (#333)
  CHANGELOG.rst
  examples/vlm_ptq/scripts/huggingface_example.sh
Owners: @NVIDIA/modelopt-examples-vlm-codeowners

Reinstate int8_sq support for vlm_example. (#333)
  CHANGELOG.rst
  examples/vlm_ptq/scripts/huggingface_example.sh
Owners: @NVIDIA/modelopt-examples-vlm-codeowners

support W4afp8 quant in v3.1
  examples/deepseek/README.md
  examples/deepseek/ptq.py
Owners: @NVIDIA/modelopt-deploy-codeowners

Update News README.md (#336)
  README.md
Owners: @NVIDIA/modelopt-examples-codeowners

Specify engine path for TRT evaluation
  examples/onnx_ptq/evaluate.py
  modelopt/torch/_deploy/_runtime/tensorrt/engine_builder.py
  modelopt/torch/_deploy/_runtime/trt_client.py
  tests/examples/test_onnx_ptq.sh
Owners: @NVIDIA/modelopt-onnx-codeowners, @NVIDIA/modelopt-torch-deploy-codeowners

update engine path processing
  modelopt/torch/_deploy/_runtime/tensorrt/engine_builder.py
Owners: @NVIDIA/modelopt-torch-deploy-codeowners

add QAT simplified flow
  examples/llm_qat/README.md
  examples/nemo_run/common/in_memory_mmlu.py
  examples/nemo_run/common/llama_chat_template.txt
  examples/nemo_run/common/process_lima.py
  examples/nemo_run/common/process_openscience.py
  examples/nemo_run/common/utils.py
  examples/nemo_run/qat/ADVANCED.md
  examples/nemo_run/qat/README.md
  examples/nemo_run/qat/nemo_qat_flow.py
  modelopt/torch/export/plugins/nemo_run.py
Owners: @NVIDIA/modelopt-examples-llm_qat-codeowners, @NVIDIA/modelopt-examples-megatron-codeowners, @NVIDIA/modelopt-torch-export-codeowners

Update VLM-PTQ readme
  CHANGELOG.rst
  examples/vlm_ptq/README.md
Owners: @NVIDIA/modelopt-examples-vlm-codeowners

[NVBug: 5525758] Update VLM-PTQ readme (#339)
  CHANGELOG.rst
  examples/vlm_ptq/README.md
Owners: @NVIDIA/modelopt-examples-vlm-codeowners

Slurm support for QAT Simplified Flow + Qwen3-8B recipe (#285)
  examples/llm_qat/README.md
  examples/nemo_run/common/in_memory_mmlu.py
  examples/nemo_run/common/llama_chat_template.txt
  examples/nemo_run/common/process_lima.py
  examples/nemo_run/common/process_openscience.py
  examples/nemo_run/common/utils.py
  examples/nemo_run/qat/ADVANCED.md
  examples/nemo_run/qat/README.md
  examples/nemo_run/qat/nemo_qat_flow.py
  modelopt/torch/export/plugins/nemo_run.py
Owners: @NVIDIA/modelopt-examples-llm_qat-codeowners, @NVIDIA/modelopt-examples-megatron-codeowners, @NVIDIA/modelopt-torch-export-codeowners

new: adding modelopt_run_config.yaml and a main function for data preprocessing
  modelopt/torch/opt/plugins/mcore_dist_checkpointing.py
  modelopt/torch/utils/plugins/megatron_preprocess_data.py
Owners: @NVIDIA/modelopt-torch-opt-codeowners, @NVIDIA/modelopt-torch-utils-codeowners

Bug fix for AutoQuantize: Add quantization skipping back; Add disable_layers to the search; cleaner names for search configs
  modelopt/torch/quantization/algorithms.py
  modelopt/torch/quantization/model_quant.py
  tests/unit/torch/quantization/test_autoquant.py
Owners: @NVIDIA/modelopt-torch-quantization-codeowners
